<ion-header>
  <ion-toolbar>
    <ion-title><ion-text href="/add-form">Добавить категорию</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Введите название категории:</ion-item>
  <ion-input></ion-input>
<ion-button color="warning" (click)="triggerClick()">Добавить картинку</ion-button>
  <input type="file"
         class="dn"
         (change)="onFileUpload($event)"
         #input
  >
  <ion-img
          class="responsive-img h200"
          [src]="imagePreview"
          *ngIf="imagePreview"
  >
</ion-content>
