<ion-grid class="marginLol">

  <ion-row>
    <ion-col style="margin-top: 70px">
      <ion-button href="/analytics" fill="clear" color="dark" style="width:45px;"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label><ion-text><h1>Меню</h1></ion-text></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://sun9-54.userapi.com/c200820/v200820394/29bf/dqtlGCAtLQQ.jpg"></ion-img>
        </ion-avatar>
        <ion-label>Рис с овощами</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://sun9-31.userapi.com/c200820/v200820394/29c9/EfYjtlF4bNM.jpg"></ion-img>
        </ion-avatar>
        <ion-label>Сэндвич</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://sun9-59.userapi.com/c200820/v200820394/29d3/gTqegINTe1c.jpg"></ion-img>
        </ion-avatar>
        <ion-label>Паста</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-grid>



