
<ion-header>
  <ion-toolbar>
    <ion-title>Вход в систему</ion-title>
  </ion-toolbar>
  </ion-header>


<ion-content fullscreen >
    <form
            class="card"
            [formGroup]="form"

    >
    <ion-item-group >
        <ion-item><ion-img [src]="povar"  ></ion-img></ion-item>
        <ion-item> <ion-label type="undefined">  Введите E-mail: </ion-label></ion-item>
<ion-item>
     <ion-input type="email" id="email"></ion-input>
</ion-item>
        <ion-item> <ion-label type="undefined">  Введите пароль:</ion-label></ion-item>
 <ion-item>
     <ion-input type="password" id="password"></ion-input>

</ion-item>
         <ion-button expand="block" (click)="onSubmit()">Войти</ion-button>
     <ion-button expand="block" href="/register">Регистрация</ion-button>
        </ion-item-group>
    </form>
</ion-content>
