
<ion-content>
    <ion-grid>
        <ion-row>
                    <ion-col size-md="1"></ion-col>
            <ion-col size-md="3">
              <ion-button  class="boton" href="/login" fill="outline" color="dark" style="width:120px;">Login</ion-button>
            </ion-col>
        <ion-col size-md="2"></ion-col>
            <ion-col size-md="3">
              <ion-button class="boton" href="/register" color="dark" style="width:120px;">Register</ion-button>
            </ion-col>
        <ion-col size-md="1"></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
