<ion-content fullscreen>

    <ion-grid>
        <ion-row>
            <ion-col size="weight: 200px">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button href="/start" fill="clear" color="dark" style="width:45px;"><ion-icon name="arrow-back"></ion-icon></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="10" offset="1">
                <ion-text><h1>Регистрация</h1></ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>


    <form
            class="card"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
    >

        <ion-grid>
            <ion-row>
                <ion-col style="border:3px #000000  solid;" size="10" offset="1">
                    <ion-input type="email" id="email" formControlName="email" placeholder="e-mail"
                               [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched }"
                    ></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col size="10" offset="1">
                    <span
                            class="helper-text red-text"
                            *ngIf= "form.get('email').invalid && form.get('email').touched"
                    >
                    <span *ngIf="form.get('email').errors['required']">Еmail не должен быть пустым</span>
                    <span *ngIf="form.get('email').errors['email']">Введите корректный email адрес</span>
        </span>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col style="border:3px #000000  solid;" size="10" offset="1">
                    <ion-input type="password" id="passwrod" formControlName="password" placeholder="password"
                               [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched }"
                    ></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col size="10" offset="1">
                    <span
                            class="helper-text red-text"
                            *ngIf= "form.get('password').invalid && form.get('password').touched"
                    >
                    <span *ngIf="form.get('password').errors['required']">Поле Password не должено быть пустым</span>
                    <span *ngIf="form.get('password').errors['minlength']&& form.get('password').errors['minlength']['requiredLength']">
                        Пароль должен содержать более {{form.get('password').errors['minlength']['requiredLength']}} символов.
                        Сейчас {{form.get('password').errors['minlength']['actualLength']}}
                    </span>
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col size="10.4" offset="0.8">
                    <ion-button (click)=" onSubmit()"  expand="block" color="dark">Зарегистрировать аккаунт</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
